* {
  font-family: sans-serif;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  color: #000;

  background-color: #fff;

  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 120px;

  background-color: grey;
}
nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  width: 100vw;
  height: 60px;
}
nav .el {
  display: flex;
  justify-content: center;

  color: #fff;

  padding-top: 5px;

  background-color: rgb(99, 165, 0);
  border: 2px groove gray;
}

main {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin: 15px;
}
main > section {
  padding: 15px;
  border: 3px groove gray;
}

main > section.top {
  display: flex;
  justify-content: space-between;
}

main > section.bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main > section.bottom > button {
  width: 30px;
}

main > section.top > section.left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main > section.top > section.left > input {
  width: 170px;
}
main > section.top > section.left > button {
  width: 50px;
}

main > section.top > section.right {
  display: flex;
  flex-direction: column;

  padding: 15px;
  border: 3px groove gray;
}
